apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: {{ (resource_id ~ "-crossplane") | dump }}
  namespace: {{ argo.install_namespace | dump }}
spec:
  project: {{ argo.project | dump }}
  source:
    repoURL: {{ argo.repo_url | dump }}
    targetRevision: {{ argo.target_revision | dump }}
    path: {{ ("resources/" ~ resource_id ~ "-crossplane") | dump }}
  destination:
    server: https://kubernetes.default.svc
    namespace: {{ crossplane.namespace | dump }}
  syncPolicy:
    syncOptions:
      - CreateNamespace=true
      - ServerSideApply=true
