name: {{ values.prameters.name }}
title: {{ values.parameters.title }}
description: {{ values.parameters.description }}
force_destroy: {{ values.platform.force_destroy }}
object_lock_enabled: {{ values.platform.object_lock_enabled }}
region: {{ values.platform.region }}
account_id: {{ values.platform.account_id}}
kms_key: {{ values.security.kms_key }}
kms_sse_alg: {{ values.security.kms_sse_alg }}
