name: {{ parameters.name }}
title: {{ parameters.title }}
description: {{ parameters.description }}
force_destroy: {{ platform.force_destroy }}
object_lock_enabled: {{ platform.object_lock_enabled }}
region: {{ platform.region }}
account_id: {{ platform.account_id }}
kms_key: {{ secuirty.kms_key }}
kms_sse_alg: {{ secuirty.kms_sse_alg }}
provider: aws