apiVersion: backstage.io/v1alpha1
kind: Resource
metadata:
  name: {{ parameters.name | kebabCase | dump }}
  title: {{ (parameters.title or parameters.name) | dump }}
  {% if parameters.description %}
  description: {{ parameters.description | dump }}
  {% endif %}
  idp_tool: crossplane

  tags:
    - aws
    - s3
    - storage

spec:
  type: storage
  owner: guest
  lifecycle: production
