{# Parameters #}
name: {{ parameters.name | dump }}
instance_type: {{ parameters.instance_type | dump }}

{# Platform #}
region: {{ platform.region | dump }}
account_id: {{ platform.account_id | dump }}
ami_ssm_parameter: {{ platform.ami_ssm_parameter | dump }}
root_volume_size: {{ platform.root_volume_size | dump }}
root_volume_type: {{ platform.root_volume_type | dump }}
subnet_id: {{ platform.subnet_id | dump }}
tags: {{ (platform.tags or {}) | dump }}

{# Security #}
root_volume_encrypted: {{ security.root_volume_encrypted | dump }}
root_volume_kms_key_id: {{ security.root_volume_kms_key_id | dump }}

{# Terraform backend: #}
backend:
  bucket: {{ tf_backend.state_bucket | dump }}
  region: {{ tf_backend.state_region | dump }}
  key: {{ ("resources/" + resource_id + "/terraform.tfstate") | dump }}
