{# Parameters: in the account-regional namespace the physical name gets the reserved suffix, invisible to the user #}
{% set account_regional = platform.bucket_namespace == "account-regional" %}
bucket_name: {{ ((parameters.name + "-" + platform.account_id + "-" + platform.region + "-an") if account_regional else parameters.name) | dump }}
bucket_namespace: {{ (platform.bucket_namespace or "global") | dump }}

{# Platform #}
force_destroy: {{ platform.force_destroy }}
region: {{ platform.region }}
account_id: {{ platform.account_id }}

{# Security #}
kms_key: {{ security.kms_key }}
kms_sse_alg: {{ security.kms_sse_alg }}

{# Terraform backend: passed to terraform init with -backend-config, not as a variable #}
backend:
  bucket: {{ tf_backend.state_bucket | dump }}
  region: {{ tf_backend.state_region | dump }}
  key: {{ ("resources/" + resource_id + "/terraform.tfstate") | dump }}

