{% set overridden = ["intelligent_tiering_enabled", "intelligent_tiering_archive_days", "intelligent_tiering_deep_archive_days"] %}
intelligent_tiering_enabled: true
intelligent_tiering_archive_days: {{ platform.intelligent_tiering_archive_days | int }}
intelligent_tiering_deep_archive_days: {{ (platform.intelligent_tiering_deep_archive_days if parameters.deep_archive else 0) | int }}

{# old values #}
{% for key, value in old_values %}
{% if not (key in overridden) %}
{{ key }}: {{ value | dump }}
{% endif %}
{% endfor %}
