apiVersion: backstage.io/v1alpha1
kind: Resource
metadata:
  name: {{ parameters.vm_name | kebabCase }}
  title: {{ parameters.vm_name }}
  {% if parameters.description %}
  description: {{ parameters.description }}
  {% endif %}
  build_blocks:
    - subpath: ./vm
      technology: terraform
      source_repo_url: git@github.com:tommyliverani/highway-to-cloud.git
      source_repo_path: building_blocks/ec2_instance

  tags:
    - aws
    - ec2
    - compute
spec:
  type: vm
  owner: guest
  lifecycle: production